/** $Id: wysiwyg_fields.css,v 1.3 2010/08/18 06:08:35 deciphered Exp $ **/

.wysiwyg_fields-widget {
  clear: both;
}

.wysiwyg_fields-widget div {
  display: inline;
  float: none !important;
}

/* MCEditor icon size fix. */
.defaultSkin .mce_wysiwyg_fields_icon img.mceIcon {
  height: 16px;
  padding: 2px;
  width: 16px;
}
