default:
  suites:
    default:
      contexts:
        - Drupal\DrupalExtension\Context\DrupalContext
        - Drupal\DrupalExtension\Context\MinkContext
        - Drupal\DrupalExtension\Context\MessageContext
        - Drupal\DrupalExtension\Context\DrushContext
        - WysiwygFieldsFeatureContext
  extensions:
    Behat\MinkExtension:
      base_url: "$DRUPAL_TI_WEBSERVER_URL:$DRUPAL_TI_WEBSERVER_PORT/"
      browser_name: "$DRUPAL_TI_BEHAT_BROWSER"
      files_path: "$DRUPAL_TI_DRUPAL_DIR"
      goutte: ~
      selenium2: ~
    Drupal\DrupalExtension:
      api_driver: "drupal"
      drush_driver: "drush"
      drupal:
        drupal_root: "$DRUPAL_TI_DRUPAL_DIR"
      drush:
        root: "$DRUPAL_TI_DRUPAL_DIR"
