/**
 * @file
 */

.wysiwyg_fields-temporary_hide {
  display: none !important;
}

.wysiwyg_fields-form > div,
.wysiwyg_fields-widget {
  display: none;
}

.wysiwyg_fields-dialog .ui-dialog-titlebar .wysiwyg_fields-icon-expand {
  float: left;
  height: 18px;
  margin: 2px 5px 0 -10px;
  width: 19px;
}

.wysiwyg_fields-dialog .ui-dialog-titlebar .wysiwyg_fields-icon-expand span {
  display: block;
  margin: 1px;
}

.wysiwyg_fields-dialog .ui-dialog-content,
.wysiwyg_fields-dialog .ui-dialog-buttonpane {
  height: auto;
  padding: 1.5em 1.7em;
  position: static;
  width: auto;
}

.wysiwyg_fields-dialog .ui-dialog-content fieldset.form-wrapper {
  border: none;
  margin: 0;
  padding: 0;
}

.wysiwyg_fields-dialog .ui-dialog-content fieldset.form-wrapper > legend {
  display: none;
}

.wysiwyg_fields-dialog .ui-dialog-content fieldset.form-wrapper > .fieldset-wrapper {
  padding: 0;
}

.wysiwyg_fields-dialog .ui-dialog-content .sticky-header,
.wysiwyg_fields-dialog.wysiwyg_fields-dialog-collapsed .ui-dialog-content .tabledrag-toggle-weight-wrapper,
.wysiwyg_fields-dialog.wysiwyg_fields-dialog-collapsed .ui-dialog-content .field-add-more-submit,
.wysiwyg_fields-dialog.wysiwyg_fields-dialog-collapsed .ui-dialog-content table .tabledrag-hide,
.wysiwyg_fields-dialog.wysiwyg_fields-dialog-collapsed .ui-dialog-content table .tabledrag-handle,
.wysiwyg_fields-dialog.wysiwyg_fields-dialog-collapsed .ui-dialog-content table .field-multiple-drag,
.wysiwyg_fields-dialog.wysiwyg_fields-dialog-collapsed .ui-dialog-content table thead {
  display: none !important;
}

.wysiwyg_fields-dialog.wysiwyg_fields-dialog-collapsed .ui-dialog-content .field-multiple-table,
.wysiwyg_fields-dialog.wysiwyg_fields-dialog-collapsed .ui-dialog-content .field-multiple-table tbody tr,
.wysiwyg_fields-dialog.wysiwyg_fields-dialog-collapsed .ui-dialog-content .field-multiple-table tbody tr td,
.wysiwyg_fields-dialog.wysiwyg_fields-dialog-collapsed .ui-dialog-content fieldset.form-wrapper > .fieldset-wrapper table,
.wysiwyg_fields-dialog.wysiwyg_fields-dialog-collapsed .ui-dialog-content fieldset.form-wrapper > .fieldset-wrapper table tr,
.wysiwyg_fields-dialog.wysiwyg_fields-dialog-collapsed .ui-dialog-content fieldset.form-wrapper > .fieldset-wrapper table tr {
  background-color: transparent;
  border: none;
  margin: 0;
}

.wysiwyg_fields-dialog.wysiwyg_fields-dialog-collapsed .ui-dialog-content fieldset.form-wrapper > .fieldset-wrapper table tr {
  border: none;
}

.wysiwyg_fields-dialog.wysiwyg_fields-dialog-collapsed .ui-dialog-content fieldset.form-wrapper > .fieldset-wrapper table tr td {
  padding: 0;
  border: none;
}

.wysiwyg_fields-dialog .content-multiple-table td.content-multiple-drag {
  min-width: 45px;
  width: 45px;
}

.wysiwyg_fields-dialog .ui-dialog-buttonpane .form-wrapper > .form-type-select:first-child label {
  display: inline;
}



/* MCEditor icon size fix. */
.defaultSkin .mce_wysiwyg_fields_icon img.mceIcon {
  height: 16px;
  padding: 2px;
  width: 16px;
}



/* Fixes for Rubik */
.wysiwyg_fields-dialog .form-item {
  border: none;
  position: inherit !important;
}

.wysiwyg_fields-dialog .form-item:hover {
  z-index: inherit !important;
}

