/**
 * @file
 */

/* @TODO - Cross browser compatability */
.wysiwyg_fields-form > div,
.wysiwyg_fields-widget {
  display: none;
}

.wysiwyg_fields-dialog .wysiwyg_fields-icon-expand {
  height: 18px;
  left: 0.3em;
  margin: -10px 0 0;
  padding: 1px;
  position: absolute;
  top: 50%;
  width: 19px;
}

.wysiwyg_fields-dialog .wysiwyg_fields-icon-expand:hover,
.wysiwyg_fields-dialog .wysiwyg_fields-icon-expand:focus {
  padding: 0;
}

.wysiwyg_fields-dialog .wysiwyg_fields-icon-expand span {
  display: block;
  margin: 1px;
}

.wysiwyg_fields-dialog .ui-dialog-titlebar .ui-dialog-title {
  margin-left: 16px;
}

.wysiwyg_fields-dialog .ui-dialog-content {
  padding: 1.5em 1.7em !important;
  height: auto !important;
  width: auto !important;
}

.wysiwyg_fields-dialog .content-multiple-table td.content-multiple-drag {
  min-width: 45px;
  width: 45px;
}


/* jQuery UI 1.6 fixes. */
.wysiwyg_fields-dialog .ui-icon {
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
  text-indent: -99999px;
}

.wysiwyg_fields-dialog .ui-dialog-buttonpane {
  position: relative !important;
}

/* MCEditor icon size fix. */
.defaultSkin .mce_wysiwyg_fields_icon img.mceIcon {
  height: 16px;
  padding: 2px;
  width: 16px;
}
