/**
 * @file
 */

#edit-instance-settings-wysiwyg-fields-settings-icon {
  max-height: 160px;
  overflow-y: auto;
}

.form-item-instance-settings-wysiwyg-fields-settings-icon:first-child {
  display: block !important;
}

.form-item-instance-settings-wysiwyg-fields-settings-icon {
  margin-right: 10px !important;
}

.form-item-instance-settings-wysiwyg-fields-settings-icon label img {
  vertical-align: middle !important;
}
